.card-image {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}



.breakfast-img {
    background-image: url("../images/jenn-kosar-584038-unsplash.jpg");
}

.lunch-img {
    background-image: url("../images/oscar-nord-627731-unsplash.jpg");
}

.dinner-img {
    background-image: url("../images/christine-siracusa-385441-unsplash.jpg");
}

.bbq-img {
    background-image: url("../images/alexey-ruban-98474-unsplash.jpg");
}

.dessert-img {
    background-image: url("../images/natural-chef-carolyn-nicholas-560111-unsplash.jpg");
}




