@import url('https://fonts.googleapis.com/css?family=Chicle');

body{
    color:  #195567;
    background-color: #53a4b09e;
   
}
.full-width {
      width: 100%;
}
.min-height {
    min-height: 55vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.flex-container-vert{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.card-image {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.breakfast-img {
    background-image: url("https://images.unsplash.com/photo-1528301392571-0dfab3c00216?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d9cf7b5db701b7e7a025f413d16d162&auto=format&fit=crop&w=400&q=80");
}

.lunch-img {
    background-image: url("https://images.unsplash.com/photo-1526311444844-a6a2c8f730b3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7cd101550b6c0468af091485aeef827f&auto=format&fit=crop&w=357&q=80");
}

.dinner-img {
    background-image: url("https://images.unsplash.com/photo-1520218508822-998633d997e6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a367c42f6b4004f2c0e7f396778a192&auto=format&fit=crop&w=334&q=80");
}

.dessert-img {
    background-image: url("https://images.unsplash.com/photo-1518710101263-54e0350377bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44efc884b965a63f27fe028b8b3601e3&auto=format&fit=crop&w=334&q=80");
}

.vegetarian-img {
    background-image: url("https://images.unsplash.com/photo-1511910849309-0dffb8785146?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cb677eb9f83408ece2d78918458f1cb4&auto=format&fit=crop&w=334&q=80");
}

.vegan-img {
    background-image: url("https://images.unsplash.com/photo-1498601761256-9e93c6f5c181?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1c88a204e3fd310ff7e9ea5d61a3c6d8&auto=format&fit=crop&w=721&q=80");
}

.title {
    font-family: "chicle", cursive;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 
                0px -5px 35px rgba(255,255,255,0.3), 
                2px 2px 2px rgba(80,7,164,0), 
                2px 2px 2px rgba(80,7,164,0);
    font-size: 4rem;            
}

.banner {
    background-color: #f5913cf7;
    height: 80vh;
}

.van-pic {
  width: 100%;
    height: 80vh;
  background-image: url("https://www.vegansociety.com/sites/default/files/uploads/blog/Victoria%20%26%20Campervan%20sunset.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}


.intro-text {
    padding: 3% 5%;
    text-align: center;
}

.lead-text {
    font-size: 1.2em;
    padding: 10px;
    
}

.med-blue-hr{
    width: 60px;
    height: 8px;
    background-color: #195567;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-btns {
    margin: 10px auto;
    display: block;
}

.text-center{
    text-align: center;
}
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    font-size: 2.5rem;
    margin: 1em;
}

.flashes{
    width: 100%;
    height: 38px;
    background-color: #ffec0b9e;
    text-align: center;
    padding: 4px;
    border-radius: 8px;
    margin: 15px auto;
}
.underline {
    text-decoration: underline;
}

.mynav {
    background-color: #4ca6af;
    
    color: #195567;
  
}

.side-nav {
    background-color: #58b9c3;
    color: #195567;
}

.blue-footer {
    background-color: #f5913cf7;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-icon-li {
    display: inline-block;
    margin-bottom: 40px;
    
}
.social-icon {
    transition-property: text-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color:  #195567;
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.social-icon:hover{
    text-shadow: 0 0 10px #fff;
}

.social {
    text-align: center;
}

.btn {
    background-color: #58b9c3f7;
}

.brand-logo {
    visibility: hidden;
}


.social-icon-list {
    display: inline;
}

@media (min-width: 768px) {
     .brand-logo {
        visibility: visible;
        font-family: "chicle", cursive;
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 
                    0px -5px 35px rgba(255,255,255,0.3), 
                    2px 2px 2px rgba(80,7,164,0), 
                    2px 2px 2px rgba(80,7,164,0);
        font-size: 1.8rem; 
        margin-left: 20px;
        margin-right: 20px;
    }
    .title {
        font-size: 5rem;
    }
    .lead-text {
    font-size: 1.5em;
    }
    .login-btns {
    margin: 20px auto;
    width: 200px;
    }
    .intro-text {
        margin: 10px;
    }
}