@import url('https://fonts.googleapis.com/css?family=Chicle');

.card-image {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}



.breakfast-img {
    background-image: url("../images/jenn-kosar-584038-unsplash.jpg");
}

.lunch-img {
    background-image: url("../images/oscar-nord-627731-unsplash.jpg");
}

.dinner-img {
    background-image: url("../images/christine-siracusa-385441-unsplash.jpg");
}

.bbq-img {
    background-image: url("../images/alexey-ruban-98474-unsplash.jpg");
}

.dessert-img {
    background-image: url("../images/natural-chef-carolyn-nicholas-560111-unsplash.jpg");
}

.banner {
    width: 100%;
    height: 50vh;
    
  display: block;
  position: relative;
  

    
    
    text-align: center;
    display: flex;
  align-items: center;
  justify-content: center;
}
.banner::after {
  content: "";
  
    
  background-image: url("../images/franck-v-515184-unsplash.jpg");
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.container {
   
}

.mynav {
    background-color: #58b9c3f7;
  
}