{% extends 'base.html' %} {% block content %}
<h1>Add Recipe</h1>

<form action="{{ url_for('addrecipe') }}" method="POST" class="col s12">
    <div class="row">

        <div class="input-field col s12">

            <select id="category" name="category">
                  <option value="" disabled selected>Choose Category</option>
                  
                      <option value="Breakfast">Breakfast</option>
                      <option value="Lunch">Lunch</option>
                      <option value="Dinner">Dinner</option>
                 
                </select>
            <label>Recipe Category</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">

            <input id="task_name" name="task_name" type="text">
            <label for="icon_prefix">Recipe Title</label>
        </div>
    </div>




    <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Brief description</label>
        </div>
    </div>



    <div class="row">
        <div class="switch">
            <label>
                  <input id="is_urgent" name="is_urgent" type="checkbox">
                  <span class="lever"></span>
                  Vegetarian
                </label>
        </div>
    </div>
    <div class="row">
        <div class="switch">
            <label>
                  <input id="is_urgent" name="is_urgent" type="checkbox">
                  <span class="lever"></span>
                  Vegan
                </label>
        </div>
    </div>

    <div class="row">
        <p>List ingredients in the order you would like them to appear, with the quantity first. Each ingredient should start a new line as follows:</p>
        <ul>
            <li>1 cup Milk</li>
            <li>2 Eggs</li>
            <li>1 tbsp Sugar</li>
        </ul>
        <form class="col s12">

            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" placeholder="eg. 1 tin of Beans"></textarea>
                <label for="textarea1">Ingredients</label>
            </div>

        </form>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Add Task
                <i class="material-icons right">playlist_add</i>
             </button>
    </div>
</form>
</div>

{% endblock %}
