{% extends 'base.html' %} {% block content %}
<div class="margin-auto">
    <div class="text-center">
        <h1 class="page-title">Edit Recipe</h1>
        <h2>{{ recipe.title }}</h2>
    </div>
    <div class='container card-panel margin-auto'>
        <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST">
            <div class="row">
                <h4 class='form-header'>Recipe Category</h4>
                <div class="input-field col s12">

                    <select class="category_wrapper" id="category" name="category">
                  <option value="" disabled selected>Choose Category</option>
                  {% for category in categories %}
                  {% if category == recipe.category %}
                      <option value="{{ category }}" selected>{{ category }}</option>
                      {% else %}
                      <option value="{{ category }}" >{{ category }}</option>
                      {% endif %}
                    {% endfor %}  
                      
                </select>
                </div>
                <div class="input-field col s12">

                    <select class="vege_wrapper" id="vegetarian" name="vegetarian">
                  <option value="" disabled selected>Vegetarian/vegan?</option>
                      {% for v in vege_list %}
                  {% if v == recipe.vegetarian %}
                      <option value="{{ v }}" selected>{{ v }}</option>
                      {% else %}
                      <option value="{{ v }}" >{{ v }}</option>
                      {% endif %}
                    {% endfor %} 
                </select>
                </div>
            </div>

    </div>
    <div class='container card-panel margin-auto'>
        <div class="row">
            <h4 class='form-header'>Recipe Title</h4>
            <div class="input-field col s12">

                <input value="{{ recipe.title }}" name="title" type="text">
                <label>Recipe Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="description" class="materialize-textarea">{{ recipe.description }}</textarea>
                <label>Timings/Servings etc.</label>
            </div>
        </div>
    </div>
    <div class='container card-panel margin-auto'>
        <div class="row">
            <div class="ingredient-wrapper">
                <h4>Ingredients</h4>
                <div class="input-field col s12">
                    <textarea name="ingredients" class="materialize-textarea" placeholder="eg. 100g flour">{% for ing in recipe.ingredients %}{{ ing }}
{% endfor %}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class='container card-panel margin-auto'>
        <div class="row">
            <h4 class='form-header'>Method</h4>
            <div class="input-field col s12">
                <textarea name="method" class="materialize-textarea" placeholder="eg. 1. Open tin of beans">{% for step in recipe.method %}{{ step }}
{% endfor %}</textarea>
            </div>
            <button href="{{ url_for('update_recipe', recipe_id=recipe._id) }}" name="edit_recipe" class="signup-btn btn waves-effect waves-light" type="submit">Confirm changes
            <i class="material-icons right">playlist_add</i>
        </button>
            <button href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" name="delete_recipe" class="signup-btn btn waves-effect waves-light red" type="submit">Delete Recipe
            <i class="material-icons right">playlist_add</i>
        </button>
        </div>
    </div>
    </form>
</div>
{% endblock %}
