{% extends 'base.html' %} {% block content %}
<header>
  <div class="row banner">
    <div class="col s12 m7 l6 flex">
      <div class="intro-text text-center">
        <h1 class='title'>Vanlife Recipes</h1>
        <h4 class="lead-text">The Campervan Cookbook</h4>
        <hr class="med-blue-hr"> 
        {% if 'username' not in session %}
        <!-- Materialize.css Modal Trigger -->
        <a class="login-btns waves-effect waves-light btn green modal-trigger" href="#login"><i class="material-icons right">person</i>Log In</a>
        <a class="login-btns waves-effect waves-light btn waves-green modal-trigger" href="#register"><i class="material-icons right">edit</i>Sign Up</a>
        <!-- Login Modal Structure -->
        <div id="login" class="modal">
          <div class="modal-content">
            <h4>Log In</h4>
            <form method=POST action="{{ url_for('login') }}">
              <input type="text" name="username" placeholder="username" required/>
              <input type="password" name="password" placeholder="password" required/>
          </div>
          <div class="modal-footer">
            <button href="{{url_for('login')}}" type="submit" name="Login" class="btn modal-action modal-close waves-light waves-effect green">Log In <i class="material-icons right">person</i></button>
          </div>
          </form>
        </div>
        <!-- Sign Up Modal Structure -->
        <div id="register" class="modal">
          <div class="modal-content">
            <h4>Sign Up</h4>
            <form method=POST action="{{ url_for('signup') }}">
              <input type="text" name="username" placeholder="username" required/>
              <input type="password" name="password" placeholder="password" required/>
          </div>
          <div class="modal-footer">
            <button href="{{url_for('signup')}}" type="submit" name="Register" class="btn modal-action modal-close waves-light waves-effect waves-green">Sign Up <i class="material-icons right">edit</i></button>
          </div>
          </form>
        </div>
        {% else %}
        <div>
          <a class="login-btns waves-effect waves-light btn waves-green modal-trigger" href="{{url_for('addrecipe')}}"><i class="material-icons left">playlist_add</i>Add Recipe</a>
        </div>
        {% endif %}
        <div class="flex-container">
          <!-- Flash Messages-->
          {% with messages = get_flashed_messages() %} {% if messages %}
          <div class=flashes>
            {% for message in messages %}
            <h6>{{ message }}</h6>
            {% endfor %}
          </div>
          {% endif %} {% endwith %}
        </div>
      </div>
    </div>
    <div class="col s12 m5 l6 van-pic">
      <!-- Intro Picture -->
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l4">
        <a href="{{ url_for('category', category_name='Breakfast')}}">
          <div class="card">
            <div class="breakfast-img card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Breakfast <i class="material-icons right">navigate_next</i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m6 l4">
        <a href="{{ url_for('category', category_name='Lunch')}}">
          <div class="card">
            <div class="lunch-img card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Lunch <i class="material-icons right">navigate_next</i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m6 l4">
        <a href="{{ url_for('category', category_name='Dinner')}}">
          <div class="card">
            <div class="dinner-img card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Dinner <i class="material-icons right">navigate_next</i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m6 l4">
        <a href="{{ url_for('category', category_name='Dessert')}}">
          <div class="card">
            <div class="dessert-img card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Dessert <i class="material-icons right">navigate_next</i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m6 l4">
        <a href="{{ url_for('category', category_name='Vegetarian')}}">
          <div class="card">
            <div class="vegetarian-img card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Vegetarian <i class="material-icons right">navigate_next</i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m6 l4">
        <a href="{{ url_for('category', category_name='Vegan')}}">
          <div class="card">
            <div class="vegan-img card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Vegan <i class="material-icons right">navigate_next</i></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>


{% endblock %}
