{% extends 'base.html' %} {% block content %}
<header>
    <div class="row banner">
        <div class="col s12 m7 l5 flex">
            <div class="intro-text text-center">
                <h1 class='title'>Vanlife Recipes</h1>
                <h4 class="lead-text">The Campervan Cookbook</h4>
                <hr class="med-blue-hr">
                {% if 'username' not in session %}
                

                <!-- Modal Trigger -->
                <a class="login-btns waves-effect waves-light btn green modal-trigger" href="#login"><i class="material-icons right">person</i>Log In</a>
                <a class="login-btns waves-effect waves-light btn waves-green modal-trigger" href="#register"><i class="material-icons right">edit</i>Sign Up</a>
                <!-- Modal Structure -->
                <div id="login" class="modal">
                    <div class="modal-content">
                        <h4>Log In</h4>
                        <form method=POST action="{{ url_for('login') }}">
                            <input type="text" name="username" placeholder="username" required/>
                            <input type="password" name="password" placeholder="password" required/>


                    </div>
                    <div class="modal-footer">
                        
                        <button href="{{url_for('login')}}" type="submit" name="Login" class="btn modal-action modal-close waves-light waves-effect green">Log In <i class="material-icons right">person</i></button>

                    </div>
                    </form>
                </div>
                <div id="register" class="modal">
                    <div class="modal-content">
                        <h4>Register</h4>
                        <form method=POST action="{{ url_for('signup') }}">
                            <input type="text" name="username" placeholder="username" required/>
                            <input type="password" name="password" placeholder="password" required/>


                    </div>
                    <div class="modal-footer">
                        <button href="{{url_for('signup')}}" type="submit" name="Register" class="btn modal-action modal-close waves-light waves-effect waves-green">Sign Up <i class="material-icons right">edit</i></button>
                        

                    </div>
                    </form>
                </div>
                {% else %}
                
                <div>
                    <a class="btn-margin waves-effect waves-light btn waves-green modal-trigger" href="{{url_for('addrecipe')}}"><i class="material-icons left">playlist_add</i>Add Recipe</a>
                </div>

                {% endif %}
                <div class="flex-container">
                    
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      <h6>{{ message }}</h6>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
</div>
                
            </div>
        </div>
        <div class="col s12 m5 l7 van-pic">

        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4">
                <a href="#">
                <div class="card">
                    <div class="breakfast-img card-image waves-effect waves-block waves-light">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Breakfast <i class="material-icons right">navigate_next</i></span>
                    </div>

                </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image lunch-img waves-effect waves-block waves-light activator">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Lunch/Salad<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Lunch Recipes</span>
                        <p><a href="{{ url_for('category', category_name='Lunch')}}"><span class="underline">See all Lunch/Salad recipes</span></a></p>
                        <ul>
                            {% for recipe in lunch_recipes %}
                            <li>
                                <a href="{{url_for('recipe', recipe_id=recipe._id)}}">{{ recipe.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image dinner-img waves-effect waves-block waves-light activator">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Dinner<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Dinner Recipes</span>
                        <p><a href="{{ url_for('category', category_name='Dinner')}}"><span class="underline">See all Dinner recipes</span></a></p>
                        <ul>
                            {% for recipe in dinner_recipes %}
                            <li>
                                <a href="{{url_for('recipe', recipe_id=recipe._id)}}">{{ recipe.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image dessert-img waves-effect waves-block waves-light activator">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Dessert<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Dessert Recipes</span>
                        <p><a href="{{ url_for('category', category_name='Dessert')}}"><span class="underline">See all Dessert recipes</span></a></p>
                        <ul>
                            {% for recipe in dessert_recipes %}
                            <li>
                                <a href="{{url_for('recipe', recipe_id=recipe._id)}}">{{ recipe.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image vegetarian-img waves-effect waves-block waves-light activator">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Vegetarian<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Vegetarian Recipes</span>
                        <p><a href="{{ url_for('category', category_name='Vegetarian')}}"><span class="underline">See all Vegetarian recipes</span></a></p>
                        <ul>
                            {% for recipe in vegetarian_recipes %}
                            <li>
                                <a href="{{url_for('recipe', recipe_id=recipe._id)}}">{{ recipe.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image vegan-img waves-effect waves-block waves-light activator">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Vegan<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Vegan Recipes</span>
                        <p><a href="{{ url_for('category', category_name='Vegan')}}"><span class="underline">See all Vegan recipes</span></a></p>
                        <ul>
                            {% for recipe in vegan_recipes %}
                            <li>
                                <a href="{{url_for('recipe', recipe_id=recipe._id)}}">{{ recipe.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}
