{% extends 'base.html' %} {% block content %}
<div class="row text-center">
<h2 class="page-title">{{ username }}'s Recipes</h2>

  {% if username == session['username'] %}  
      <a href="{{url_for('addrecipe')}}" class="waves-effect waves-light btn"><i class="material-icons left">playlist_add</i>Add Recipe</a>
  {% endif %}

    <ul>
        {% for recipe in user_recipes %}
        <li><a href="{{url_for('recipe', recipe_id=recipe._id)}}">{{ recipe.title }}</a></li>

        {% endfor %}
    </ul>

</div>


{% endblock %}